body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:70px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
