body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7472 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:168px;
  width:440px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7472_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:416px;
  word-wrap:break-word;
}
#u7473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7473 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:168px;
  width:43px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u7474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7474 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:200px;
  width:440px;
  height:24px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u7475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7476 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:178px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u7477 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:177px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u7477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u7478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7480 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:457px;
  width:440px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7482 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:460px;
  width:75px;
  height:26px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7482_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u7483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7483 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:469px;
  width:8px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u7483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7485 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:460px;
  width:75px;
  height:26px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7485_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u7486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7486 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:469px;
  width:8px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u7486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7488 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:495px;
  width:440px;
  height:160px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7491 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:527px;
  width:439px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7491_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u7492 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:538px;
  width:9px;
  height:12px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#108EE9;
}
#u7492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7494 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:559px;
  width:439px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7494_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u7495 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:570px;
  width:9px;
  height:12px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#108EE9;
}
#u7495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7496 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:623px;
  width:439px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7496_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7497 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:591px;
  width:439px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7497_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7498 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:495px;
  width:439px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7498_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7499 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:458px;
  width:43px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u7500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7503 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:271px;
  width:440px;
  height:159px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
}
#u7504 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:303px;
  width:440px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7504_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:5px;
  width:398px;
  word-wrap:break-word;
}
#u7505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7505 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:271px;
  width:439px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u7505_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7506 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:334px;
  width:439px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7506_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:5px;
  width:397px;
  word-wrap:break-word;
}
#u7507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7507 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:366px;
  width:439px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u7507_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:411px;
  word-wrap:break-word;
}
#u7508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:32px;
}
#u7508 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:398px;
  width:439px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7508_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:5px;
  width:397px;
  word-wrap:break-word;
}
#u7509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7509 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:234px;
  width:440px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u7509_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:420px;
  word-wrap:break-word;
}
#u7510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7511 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:244px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u7512 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:246px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u7512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u7513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7513 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:234px;
  width:43px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u7513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u7515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
  line-height:22px;
}
#u7515 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:500px;
  height:30px;
  font-size:14px;
  color:#FF3399;
  line-height:22px;
}
#u7515_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
