body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u9157 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:100px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u9157_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u9159 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:100px;
  width:69px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u9159_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u9160 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:106px;
  width:8px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 240, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 173, 210, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u9161 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u9161_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 242, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 187, 150, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FA541C;
  text-align:left;
  line-height:20px;
}
#u9162 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FA541C;
  text-align:left;
  line-height:20px;
}
#u9162_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(254, 240, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5222D;
  text-align:left;
  line-height:20px;
}
#u9163 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5222D;
  text-align:left;
  line-height:20px;
}
#u9163_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9165 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:104px;
  width:12px;
  height:12px;
  text-align:left;
}
#u9165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u9166 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:100px;
  width:61px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u9166_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u9167 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u9167_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u9168 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u9168_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u9169 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u9169_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 173, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u9170 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:140px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u9170_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9171 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:181px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9171_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(64, 169, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9172 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:181px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9172_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 34, 45, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9173 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:181px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9173_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(115, 209, 61, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9174 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:181px;
  width:53px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9174_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
