body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:38px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
}
#u247_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  background-image:none;
}
#u247_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  height:15px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u247_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
  visibility:hidden;
  background-image:none;
}
#u247_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  height:15px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:29px;
  height:31px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
