body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:179px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6035_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:58px;
  height:19px;
}
#u6035p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:44px;
  height:6px;
}
#u6035p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:6px;
}
#u6035p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:22px;
  height:20px;
}
#u6035p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6035p002 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6035p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:115px;
  width:40px;
  height:1px;
  color:#FF3399;
}
#u6035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF3399;
  text-align:center;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:40px;
  height:13px;
  font-size:10px;
  color:#FF3399;
  text-align:center;
}
#u6036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6038_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:58px;
}
#u6038p000 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:17px;
  width:46px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6038p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
}
#u6038p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6038p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6038p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6038p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:133px;
  width:1px;
  height:40px;
}
#u6038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF3399;
  text-align:center;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:147px;
  width:40px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
  color:#FF3399;
  text-align:center;
}
#u6039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u6040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF3399;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:183px;
  width:83px;
  height:13px;
  font-size:10px;
  color:#FF3399;
}
#u6040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
